menu "TarableSSD1306"

config SSD1306_CLIPDEBUG
    int
    default 0 if CLIPDEBUG_NONE
    default 1 if CLIPDEBUG_WARNING
    default 2 if CLIPDEBUG_ERROR

    choice
        prompt "Clipping debug level"
        default CLIPDEBUG_WARNING

        
        config CLIPDEBUG_NONE
            bool "None"
        help
            Drawing operations clip silently.

        config CLIPDEBUG_WARNING
            bool "Warning"
        help
            If a drawing operation is clipped a warning is written to the console.

        config CLIPDEBUG_ERROR
            bool "Error"
        help
            If a drawing operation is clipped an error is written to the console along with an abort.
    endchoice

endmenu
